<section class="block-area col-md-10 col-md-offset-1 col-sm-12">
	<div class="col-sm-12">
		<div class="page-header">
			<h4>About Us</h4>
		</div>
		<div class="block-area">
			<div class="col-sm-12 col-md-6">
				<p class="col-sm-12">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non lacus magna. Maecenas elit risus, ornare a interdum at, maximus vel diam. Nunc vel dolor leo. Suspendisse tincidunt lectus diam, non suscipit tellus vestibulum et. Etiam hendrerit quam eu ligula porta, eu tempor ipsum vestibulum.
					Phasellus at tortor sollicitudin, pretium nisi sed, suscipit neque. Quisque euismod semper risus. Morbi ac nisl congue dui facilisis viverra. Mauris sit amet turpis urna. Nulla ornare fringilla elit, nec pharetra sapien ullamcorper ut. Maecenas placerat vehicula aliquet. In sit amet tortor ac quam porta tempor mollis ac est.
					Vestibulum feugiat hendrerit tincidunt. Donec mauris nisi, molestie in nisi at, commodo ornare mi. Aenean porta odio at lectus egestas pulvinar. Vivamus vehicula turpis at sem aliquam sagittis. Donec accumsan scelerisque magna. Ut posuere fermentum mi id imperdiet. Cras tincidunt turpis felis, ut gravida nunc tempor eleifend.
				</p>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="col-sm-12">
					<img src="modules/core/img/placeholder.jpg" class="about-img">
				</div>
				<div class="col-sm-12 about-img">
					<img src="modules/core/img/placeholder.jpg" class="about-img">
				</div>
			</div>
		</div>
	</div>
</section>
