<div data-ng-controller="PubController" data-ng-init="init()" class="col-sm-12 block-middle">
	<div class="container col-xs-12 col-sm-12 col-md-6 col-md-offset-3 block-area" data-ng-hide="showResult">
		<h2 class="text-center" translate="SLOGAN"></h2>
		<div class="col-md-10 col-md-offset-1">
			<form name="entryForm" data-ng-submit="comparePlan()" class="form-horizontal text-center" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<label for="address" translate="ADDRESS"></label>
						<input type="text" required="required" id="address" name="address" class="form-control" data-ng-model="entry.address" placeholder="{{'ADDRESS_TIP' | translate}}" data-ng-change="resetError()">
					</div>
					<div class="form-group">
						<label for="amount" translate="CONSUMPTION"></label>
						<input type="number" required="required" min="1" id="amount" name="amount" class="form-control" data-ng-model="entry.amount" placeholder="{{'CONSUMPTION_TIP' | translate}}">
					</div>
					<div class="form-group">
						<label for="wgas">
							<input type="checkbox" data-ng-model="entry.wgas" id="wgas" name="wgas">
							{{'WITH_GAS' | translate}}
						</label>
					</div>
					<div class="form-group toggleable" data-ng-show="entry.wgas">
						<label for="gasamount" translate="GAS_CONSUMPTION"></label>
						<input  data-ng-disabled="!entry.wgas" type="number" required="required" min="1" id="gasamount" name="gasamount" class="form-control" data-ng-model="entry.gasamount" placeholder="{{'GAS_TIP' | translate}}">
					</div>
					<div class="text-center form-group">
						<button type="submit" class="btn btn-large btn-primary" translate="SUBMIT"></button>
							<!--
						<input type="button" class="btn btn-large btn-primary" data-ng-click="reset" value="重置">
							-->
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="container col-xs-12 col-sm-12 col-md-10 col-md-offset-1 block-area" data-ng-show="showResult">
		<h3>Here are the results calculated for you</h3>
		<table class="table">
			<tr>
				<td colspan="6"><h4>Power plans</h4></td>
			</tr>
			<tr>
				<th>Expect Cost</th>
				<th>Company Name</th>
				<th>Plan Name</th>
				<th>Area</th>
				<th>Special</th>
				<th>Signup</th>
			</tr>
			<tr data-ng-repeat="plan in plans | orderBy:'result'">
				<td>${{plan.result}}</td>
				<td data-ng-bind="plan.company"></td>
				<td data-ng-bind="plan.name"></td>
				<td data-ng-bind="plan.area"></td>
				<td data-ng-bind="plan.special"></td>
				<td><a data-ng-href="/#!/orders/create?plan={{plan._id}}" class="btn btn-xs btn-success">Signup</a></td>
			</tr>
		</table>

		<table class="table" data-ng-show="showResult && entry.wgas">
			<tr>
				<td colspan="4"><h4>Gas plans</h4></td>
			</tr>
			<tr>
				<th>Expect Cost</th>
				<th>Company Name</th>
				<th>Plan Name</th>
				<th>Signup</th>
			</tr>
			<tr data-ng-repeat="gplan in gplans | orderBy:'result'">
				<td>${{gplan.result}}</td>
				<td data-ng-bind="gplan.company"></td>
				<td data-ng-bind="gplan.name"></td>
				<td><a data-ng-href="/#!/orders/create?gplan={{gplan._id}}" class="btn btn-xs btn-success">Signup</a></td>
			</tr>
		</table>

		<div class="text-center bottom-action" data-ng-show="showResult">
			<button class="btn btn-primary" data-ng-click="goBack()">Back</button>
		</div>
			<!--
		<div class="col-md-4 col-md-offset-0 text-center" data-ng-hide="showResult">
			<h4>Latest News</h4>
		</div>
			-->
	</div>
</div>
