html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bottom-action {
  padding-bottom: 30px; }

.block-middle {
  margin-top: 50px; }

body {
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("/modules/core/img/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Century Gothic', Sans-serif;
  color: #888; }
  body h1 {
    text-transform: capitalize; }
  body .content {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%; }
    body .content > .container {
      position: relative;
      padding: 50px 30px 0 30px;
      height: 100%;
      width: 100%;
      overflow: auto; }
  body .block-area {
    background-color: #c8c8c8;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    -webkit-box-shadow: 7px 7px 7px 4px #333333;
    -moz-box-shadow: 7px 7px 7px 4px #333333;
    box-shadow: 7px 7px 7px 4px #333333; }
    body .block-area .block-area {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  body small, body .lead {
    background-color: #c8c8c8;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    position: static; }
  body .lead {
    font-size: 18px;
    padding: 30px; }
  body .page-header {
    background-color: #c8c8c8;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 10px; }
  body .main-content {
    padding-top: 70px;
    height: 100%;
    overflow: auto; }
    body .main-content section {
      display: block;
      overflow: auto; }
  body .about-img {
    width: 100%;
    height: auto; }
  body .about-img:first-of-type {
    margin-bottom: 50px; }
  body .radio {
    padding-top: 0 !important; }
    body .radio label {
      padding-right: 20px; }
  body .form-group > label {
    margin-bottom: 0; }

header a.navbar-brand {
  display: block;
  position: absolute;
  left: 2em;
  top: 1em;
  width: 250px; }
  header a.navbar-brand img {
    display: block; }
header .nav li {
  background-color: #323232; }
header ul.dropdown-menu li {
  background-color: #ffffff; }
header .navbar-nav {
  margin: 0 -15px; }

footer {
  position: absolute;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #515151; }

.gallery-thumb {
  display: none; }
  .gallery-thumb:first-of-type {
    display: block;
    padding: 30px 0; }

.list-group-item-heading {
  font-size: 13px; }

p.list-group-item-text {
  color: #000000; }

form {
  padding-top: 20px; }

.padding-top {
  padding-top: 30px; }

[data-ui-view] {
  float: left;
  width: 100%; }

[data-ui-view].ng-enter, [data-ui-view].ng-leave {
  position: absolute;
  width: auto;
  top: 50px;
  left: 30px;
  right: 30px; }

.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100; }

.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99; }

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transform-origin: 30% top 0;
    -moz-transform-origin: 30% top 0;
    -ms-transform-origin: 30% top 0;
    -o-transform-origin: 30% top 0;
    transform-origin: 30% top 0; }
  to {
    opacity: 1;
    transform: none; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.toggleable {
  -moz-animation: 0.5s toggle-show;
  -webkit-animation: 0.5s toggle-show;
  -o-animation: 0.5s toggle-show;
  animation: 0.5s toggle-show; }

.toggleable.ng-hide {
  -moz-animation: 0.5s toggle-hide;
  -webkit-animation: 0.5s toggle-hide;
  -o-animation: 0.5s toggle-hide;
  animation: 0.5s toggle-hide; }

@keyframes toggle-show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes toggle-show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes toggle-show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes toggle-hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes toggle-hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes toggle-hide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
[translate] {
  transition: all 1s; }

/*# sourceMappingURL=core_c.css.map */
