html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.overflow-container {
	height: 100%;
	overflow: auto;
}

.bottom-action {
	padding-bottom: 30px;
}

.block-middle {
	margin-top: 50px;
}

body {
	position: absolute;
	left: 0;
	right: 0;
	background-image: url("/modules/core/img/main-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Century Gothic';
	color: #888;

	h1 {
		text-transform: capitalize;
	}

	#content {
		padding-top: 50px;
		padding-bottom: 100px;
	}

	.block-area {
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 10px;
		margin-bottom: 20px;
	}

	small, .lead {
		background-color: rgba(255, 255, 255, 0.85);
		border-radius: 10px;
		padding: 10px;
		display: block;
		margin-bottom: 20px;
		position: static;
	}

	.lead {
		font-size: 18px;
		padding: 30px;
	}


	.page-header {
		background-color: rgba(255, 255, 255, 0.85);
		border-radius: 10px;
		padding: 10px;
	}

	#main-content {
		padding-top: 70px;
		height: 100%;
		overflow: auto;

		section {
			display: block;
			overflow: auto;
		}
	}

}

header {
	a.navbar-brand {
		display: block;
		position: absolute;
		left: 2em;
		top: 1em;
		width: 200px;
		img {
			display: block;
		}
	}
}

footer {
	position: absolute;
	height: 100px;
	bottom: 0;
	width: 100%;
	background-color: #515151;
}


