<section class="block-area col-sm-offset-2 col-sm-8" data-ng-controller="OrdersController" data-ng-init="init()">
	<h3 data-ng-hide="success" class="text-center col-sm-12 page-header">Create your order</h3>
	<div class="block-area col-sm-12">
		<form name="orderForm" class="form-horizontal col-sm-10 col-sm-offset-1" data-ng-submit="create()" novalidate autocomplete="on" data-ng-hide="success">
			<input type="hidden" data-ng-model="order.planType">
			<input type="hidden" data-ng-model="order.planId">
			<div class="form-group">
				<h4>Your Details</h4>
			</div>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': orderForm.title.$dirty && orderForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<select class="form-control" id="title" data-ng-model="order.title" required>
						<option>Mrs</option>
						<option>Miss</option>
						<option>Mr</option>
						<option>Dr</option>
						<option>Ms</option>
						<option>Rev</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label" for="firstName">First Name</label>
					<div class="controls">
						<input name="firstName" data-ng-model="order.firstName" id="firstName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="LastName">Last Name</label>
					<div class="controls">
						<input name="LastName" data-ng-model="order.lastName" id="lastName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="phone">Phone</label>
					<div class="controls">
						<input name="phone" data-ng-model="order.phone" id="phone" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="email" name="email" data-ng-model="order.email" id="email" class="form-control">
					</div>
				</div>
				<p>For credit check purposes, please provide us with your NZ driver licence number and card version number, if possible.</p>
				<div class="form-group">
					<label class="control-label" for="license">License</label>
					<div class="controls">
						<input name="license" data-ng-model="order.license" id="license" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="version">Version</label>
					<div class="controls">
						<input name="version" data-ng-model="order.version" id="version" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="dateOfBirth">Date of Birth</label>
					<div class="controls input-group">
							<input ng-click="dateOfBirth_open($event)" type="text" name="dateOfBirth" data-ng-model="order.dateOfBirth" id="dateOfBirth" class="form-control" datepicker-popup="{{format}}" is-open="dateOfBirth_opened" required />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="dateOfBirth_open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
					</div>
				</div>
			</fieldset>

			<div class="form-group">
				<h4>Property Details</h4>
			</div>

			<fieldset>
				<div class="form-group">
					<label class="control-label" for="address">Property</label>
					<div class="controls">
						<input name="address" data-ng-model="order.address" id="address" class="form-control" placeholder="Your property address">
					</div>
				</div>
				<div class="form-group">
					<label>Is this your primary address?</label>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="primary" value="yes" data-ng-model="order.primary">
							Yes
						</label>
						<label class="control-label">
							<input type="radio" name="primary" value="no" data-ng-model="order.primary">
							No
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>What energy services do you require?</label>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="services" value="electricity" data-ng-model="order.services">
							Electricity
						</label>
						<label class="control-label">
							<input type="radio" name="services" value="gas" data-ng-model="order.services">
							Natural Gas
						</label>
						<label class="control-label">
							<input type="radio" name="services" value="electricity and gas" data-ng-model="order.services">
							Electricity and Gas
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>How many people live in your household?</label>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="people" value="1" data-ng-model="order.people">
							1
						</label>
						<label class="control-label">
							<input type="radio" name="people" value="2" data-ng-model="order.people">
							2
						</label>
						<label class="control-label">
							<input type="radio" name="people" value="3" data-ng-model="order.people">
							3
						</label>
						<label class="control-label">
							<input type="radio" name="people" value="4 or more" data-ng-model="order.people">
							4 or more
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>What is your situation?</label>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="situation" value="moving" data-ng-model="order.situation">
							I'm moving or need a new connection
						</label>
					</div>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="situation" value="switch" data-ng-model="order.situation">
							I just want to switch energy providers
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>Is there anything that could prevent a meter reader accessing your meter, such as any dogs on the property?</label>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="prevent" value="Yes" data-ng-model="order.prevent">
							Yes
						</label>
						<label class="control-label">
							<input type="radio" name="prevent" value="No" data-ng-model="order.prevent">
							No
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>Is anyone at this property reliant on mains electricity for critical medical support?</label>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="medical" value="Yes" data-ng-model="order.medical">
							Yes
						</label>
						<label class="control-label">
							<input type="radio" name="medical" value="No" data-ng-model="order.medical">
							No
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>Does disconnection of electricity present a clear threat to the health or wellbeing of anyone at this property for reasons of age, health or disability?</label>
					<div class="radio">
						<label class="control-label">
							<input type="radio" name="threat" value="Yes" data-ng-model="order.threat">
							Yes
						</label>
						<label class="control-label">
							<input type="radio" name="threat" value="No" data-ng-model="order.threat">
							No
						</label>
					</div>
				</div>
			</fieldset>

			<div class="form-group">
				<h4>Billing Details</h4>
			</div>
			<fieldset>
                <div class="form-group">
                    <label>Is your billing address the same as your supply address?</label>
                    <div class="radio">
                        <label class="control-label">
                            <input type="radio" name="billing-same" value="Yes" data-ng-model="order.billingSame">
                            Yes
                        </label>
                        <label class="control-label">
                            <input type="radio" name="billing-same" value="No" data-ng-model="order.billingSame">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group" data-ng-show="order.billingSame==='No'">
                    <label class="control-label" for="billing">Billing address</label>
                    <div class="controls">
                        <input type="text" name="billing" data-ng-disabled="order.billingSame==='Yes'" data-ng-model="billing" id="billing" class="form-control">
                    </div>
                </div>
			</fieldset>
				<div class="form-group text-center">
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
				<div data-ng-show="error" class="text-danger text-center">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
	<div data-ng-show="success">
		<h3 class="text-success text-center">Thanks for signing up, we will process it soon</h3>
		<div class="text-center bottom-action">
			<a class="btn btn-primary" data-ng-href="#!/home" title="View">Back</a>
		</div>
	</div>
</section>
