<section class="block-area col-sm-offset-2 col-sm-8" data-ng-controller="OrdersController" data-ng-init="init()">
	<h3 data-ng-hide="success" class="text-center col-sm-12 page-header">Create your order</h3>
	<div class="block-area col-sm-12">
		<form name="orderForm" class="form-horizontal col-sm-10 col-sm-offset-1" data-ng-submit="create()" novalidate autocomplete="on" data-ng-hide="success">
			<input type="hidden" data-ng-model="order.planType">
			<input type="hidden" data-ng-model="order.planId">
			<fieldset>
				<div class="form-group">
					<h4>Your Details</h4>
				</div>
				<div class="form-group" ng-class="{ 'has-error': orderForm.title.$dirty && orderForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<select class="form-control" id="title" data-ng-model="order.title" required>
						<option>Mrs</option>
						<option>Miss</option>
						<option>Mr</option>
						<option>Dr</option>
						<option>Ms</option>
						<option>Rev</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label" for="firstName">First Name</label>
					<div class="controls">
						<input name="firstName" data-ng-model="order.firstName" id="firstName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="LastName">Last Name</label>
					<div class="controls">
						<input name="LastName" data-ng-model="order.lastName" id="lastName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="phone">Phone</label>
					<div class="controls">
						<input name="phone" data-ng-model="order.phone" id="phone" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input type="email" name="email" data-ng-model="order.email" id="email" class="form-control">
					</div>
				</div>
				<p>For credit check purposes, please provide us with your NZ driver licence number and card version number, if possible.</p>
				<div class="form-group">
					<label class="control-label" for="license">License</label>
					<div class="controls">
						<input name="license" data-ng-model="order.license" id="license" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="version">Version</label>
					<div class="controls">
						<input name="version" data-ng-model="order.version" id="version" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="dateOfBirth">Date of Birth</label>
					<div class="controls input-group">
							<input ng-click="dateOfBirth_open($event)" type="text" name="dateOfBirth" data-ng-model="order.dateOfBirth" id="dateOfBirth" class="form-control" datepicker-popup="{{format}}" is-open="dateOfBirth_opened" required />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="dateOfBirth_open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="form-group">
					<h4>Property Details</h4>
				</div>



				<div class="form-group">
					<label class="control-label" for="homeNumber">Home Number</label>
					<div class="controls">
						<input name="homeNumber" data-ng-model="order.homeNumber" id="homeNumber" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="workNumber">Work Number</label>
					<div class="controls">
						<input name="workNumber" data-ng-model="order.workNumber" id="workNumber" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="jointName">If you have joint account, please provide the name of the holder</label>
					<div class="controls">
						<input name="jointName" data-ng-model="order.jointName" id="jointName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="jointDob">Date of birth for the holder of joint account</label>
					<div class="controls input-group">
						<input ng-click="jointDob_open($event)" name="jointDob" data-ng-model="order.jointDob" id="jointDob" class="form-control" datepicker-popup="{{format}}" is-open="jointDob_opened">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="jointDob_open($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="altName">If there is alternative contact, please provide his/her name</label>
					<div class="controls">
						<input name="altName" data-ng-model="order.altName" id="altName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="altPhone">Phone number for alternative contact</label>
					<div class="controls">
						<input name="altPhone" data-ng-model="order.altPhone" id="altPhone" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="authPerson">If there is authority person, please provide his/her name</label>
					<div class="controls">
						<input name="authPerson" data-ng-model="order.authPerson" id="authPerson" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="currentCompany">Current power & gas company</label>
					<div class="controls">
						<input name="currentCompany" data-ng-model="order.currentCompany" id="currentCompany" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="medical">If the premise has a vulnerable person or medical equipment requires power to run?</label>
					<div class="controls">
						<select name="medical" data-ng-model="order.medical" id="medical" class="form-control">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="electrMeter">Location of the electricity meter</label>
					<div class="controls">
						<input name="electrMeter" data-ng-model="order.electrMeter" id="electrMeter" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="gasMeter">Location of the gas meter</label>
					<div class="controls">
						<input name="gasMeter" data-ng-model="order.gasMeter" id="gasMeter" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="lpgBottles">Location of the LPG bottles</label>
					<div class="controls">
						<input name="lpgBottles" data-ng-model="order.lpgBottles" id="lpgBottles" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="hazards">If the premise has a dog or any potential hazards?</label>
					<div class="controls">
						<select name="hazards" data-ng-model="order.hazards" id="hazards" class="form-control">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="payment">Preferred payment option</label>
					<div class="controls">
						<select name="payment" data-ng-model="order.payment" id="payment" class="form-control">
							<option>Direct Debit</option>
							<option>Manual Online Payment</option>
							<option>Credit Card</option>
							<option>PostShop</option>
							<option>FreePost</option>
							<option>Phone Banking</option>
							<option>SmoothPay</option>
						</select>
					</div>
				</div>
				<div class="form-group text-center">
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
	<div data-ng-show="success">
		<h3 class="text-success text-center">Thanks for signing up, we will process it soon</h3>
		<div class="text-center bottom-action">
			<a class="btn btn-primary" data-ng-href="#!/home" title="View">Back</a>
		</div>
	</div>
</section>
