<section data-ng-controller="OrdersController" data-ng-init="pageAuth();findOne()">
	<div class="col-md-offset-3 col-md-6 block-area">
		<div class="page-header">
			<h4>From {{order.firstName}} {{order.lastName}}</h4>
		</div>
		<ul class="list-group">
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Plan Type</h4>
				<p class="list-group-item-text" data-ng-bind="order.type"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Plan Company</h4>
				<p class="list-group-item-text" data-ng-bind="order.plan.company"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Plan Name</h4>
				<p class="list-group-item-text" data-ng-bind="order.plan.name"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Created</h4>
				<p class="list-group-item-text">{{order.created | date:'yyyy-MM-dd HH:mm:ss'}}</p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Title</h4>
				<p class="list-group-item-text" data-ng-bind="order.title"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">First Name</h4>
				<p class="list-group-item-text" data-ng-bind="order.firstName"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Last Name</h4>
				<p class="list-group-item-text" data-ng-bind="order.lastName"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Phone</h4>
				<p class="list-group-item-text" data-ng-bind="order.phone"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Email</h4>
				<p class="list-group-item-text" data-ng-bind="order.email"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">License</h4>
				<p class="list-group-item-text" data-ng-bind="order.license"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Version</h4>
				<p class="list-group-item-text" data-ng-bind="order.version"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Date of Birth</h4>
				<p class="list-group-item-text" >{{order.dateOfBirth | date: 'yyyy-MM-dd'}}</p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Property</h4>
				<p class="list-group-item-text" data-ng-bind="order.address"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Is this your primary address?</h4>
				<p class="list-group-item-text" data-ng-bind="order.primary"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">What energy services do you require?</h4>
				<p class="list-group-item-text" data-ng-bind="order.services"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">How many people live in your household?</h4>
				<p class="list-group-item-text" data-ng-bind="order.people"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">What is your situation?</h4>
				<p class="list-group-item-text" data-ng-bind="order.situation"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Is there anything that could prevent a meter reader accessing your meter, such as any dogs on the property?</h4>
				<p class="list-group-item-text" data-ng-bind="order.prevent"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Is anyone at this property reliant on mains electricity for critical medical support?</h4>
				<p class="list-group-item-text" data-ng-bind="order.medical"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Does disconnection of electricity present a clear threat to the health or wellbeing of anyone at this property for reasons of age, health or disability?</h4>
				<p class="list-group-item-text" data-ng-bind="order.threat"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Is your billing address the same as your supply address?</h4>
				<p class="list-group-item-text" data-ng-bind="order.billingSame"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Billing address</h4>
				<p class="list-group-item-text" data-ng-bind="order.billingSame"></p>
			</li>

		</ul>
		<div class="text-center bottom-action">
			<a class="btn btn-info" data-ng-href="#!/orders" title="View">Back</a>
			<!--
        <a class="btn btn-primary" href="/#!/orders/{{order._id}}/edit" title="Replied">Replied</a>
            -->
			<a class="btn btn-danger" title="Delete" confirmed-click="remove();" ng-confirm-click="Do you really want to delete?">Delete</a>
		</div>
	</div>
</section>
