<section class="row" data-ng-controller="AdminActionController">
	<h3 class="col-md-12 text-center">New Blog</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
		<form name="planForm" data-ng-submit="addBlog()" class="add-plan form-horizontal" novalidate autocomplete="on">
			<fieldset>
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" required id="title" name="title" class="form-control" data-ng-model="blog.title" placeholder="Title of blog">
				</div>
				<div class="form-group">
					<label for="content">Content</label>
					<textarea required id="content" name="content" class="form-control" data-ng-model="blog.content" rows="10"></textarea>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Submit</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
