<section data-ng-controller="AdminActionController" data-ng-init="findPlans()">
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/admin/plans/new" title="Add New">
			<i class="fa fa-plus"></i>
		</a>
	</div>
	<h3>Power Plans</h3>
	<table class="table">
		<tr>
			<th>名称</th>
			<th>类型</th>
			<th>固定收费<br>(Cent/day)</th>
			<th>单位收费<br>(Cent/kWH)</th>
			<th>Electricity<br>Authority Levy<br>(Cent/KWH)</th>
			<th>GST</th>
			<th>及时付款折扣</th>
			<th>加入优惠</th>
			<th>特殊</th>
			<th>操作</th>
		</tr>
		<tr data-ng-repeat="powerPlan in powerPlans">
			<td data-ng-bind="powerPlan.company"></td>
			<td data-ng-bind="powerPlan.class"></td>
			<td data-ng-bind="powerPlan.fixed"></td>
			<td data-ng-bind="powerPlan.rate"></td>
			<td data-ng-bind="powerPlan.levy"></td>
			<td data-ng-bind="powerPlan.gst"></td>
			<td data-ng-bind="powerPlan.discount"></td>
			<td data-ng-bind="powerPlan.coupon"></td>
			<td data-ng-bind="powerPlan.special"></td>
			<td>
				<a class="btn btn-info btn-xs" href="/#!/admin/plans/edit/{{powerPlan._id}}" title="Edit">
					<i class="fa fa-pencil"></i>
				</a>
				<a class="btn btn-danger btn-xs" href="/#!/admin/plans/delete/{{powerPlan._id}}" title="Delete">
					<i class="fa fa-minus"></i>
				</a>
			</td>
		</tr>
	</table>
</section>

