<section data-ng-controller="AdminActionController" data-ng-init="findContacts()">
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/admin/contacts/new" title="Add New">
			<i class="fa fa-plus"></i>
		</a>
	</div>
	<h3>Contacts</h3>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Created</th>
		</tr>
		<tr data-ng-repeat="contact in contacts">
			<td data-ng-bind="contact.title"></td>
			<td data-ng-bind="contact.created"></td>
			<td>
				<a class="btn btn-info btn-xs" href="/#!/admin/contacts/edit/{{contact._id}}" title="Edit">
					<i class="fa fa-pencil"></i>
				</a>
				<a class="btn btn-danger btn-xs" href="/#!/admin/contacts/delete/{{contact._id}}" title="Delete">
					<i class="fa fa-minus"></i>
				</a>
			</td>
		</tr>
	</table>
</section>

