<section data-ng-controller="PlansController" data-ng-init="find()">
	<div class="page-header">
		<div class="pull-right">
			<a class="btn btn-primary" href="/#!/plans/create" title="Add New">
				<i class="fa fa-plus"></i>
			</a>
		</div>
		<h1>Plans</h1>
	</div>
	<table class="table block-area table-striped">
		<tr>
			<th>Company Name</th>
			<th>Plan Name</th>
			<th>Action</th>
		</tr>
		<tr data-ng-repeat="plan in plans">
			<td data-ng-bind="plan.company"></td>
			<td data-ng-bind="plan.name"></td>
			<td>
				<a class="btn btn-primary btn-xs" data-ng-href="#!/plans/{{plan._id}}" title="View">
					<i class="fa fa-eye"></i>
				</a>
				<a class="btn btn-info btn-xs" href="/#!/plans/{{plan._id}}/edit" title="Edit">
					<i class="fa fa-pencil"></i>
				</a>
			</td>
		</tr>
	</table>
	<div class="alert alert-warning text-center" data-ng-if="plans.$resolved && !plans.length">
		No plans yet, why don't you <a href="/#!/plans/create">create one</a>?
	</div>
</section>
