<section data-ng-controller="PlansController" data-ng-init="findOne()">
	<div class="col-md-offset-3 col-md-6">
		<div class="page-header">
			<h1 data-ng-bind="plan.company"></h1>
		</div>
		<ul class="list-group">
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.company"></span>Company Name</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.name"></span>Plan Name</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.area"></span>Area</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.fixed"></span>Daily Fixed Charge</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.rate"></span>Rate</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.ratewgas"></span>Variable Rate with Gas</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.gst"></span>GST</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.ppd"></span>Prompt Payment Discount</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.special"></span>Special Information</li>
		</ul>
		<div class="text-center">
			<a class="btn btn-info" data-ng-href="#!/plans" title="View">Back</a>
			<a class="btn btn-primary" href="/#!/plans/{{plan._id}}/edit" title="Edit">Edit</a>
		</div>
	</div>
</section>
