<section data-ng-controller="PlansController" data-ng-init="findOne()">
	<div class="col-md-offset-3 col-md-6">
		<div class="page-header">
			<h1 data-ng-bind="plan.company"></h1>
		</div>
		<ul class="list-group">
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.company"></span>名称</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.class"></span>类型</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.fixed"></span>固定收费<br>(Cent/day)</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.rate"></span>单位收费<br>(Cent/kWH)</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.levy"></span>Electricity<br>Authority Levy<br>(Cent/KWH)</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.gst"></span>GST</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.discount"></span>及时付款折扣</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.coupon"></span>加入优惠</li>
			<li  class="list-group-item"><span class="badge" data-ng-bind="plan.special"></span>特殊</li>
		</ul>
		<div class="text-center">
			<a class="btn btn-info" data-ng-href="#!/plans" title="View">Back</a>
			<a class="btn btn-primary" href="/#!/plans/{{plan._id}}/edit" title="Edit">Edit</a>
			<a class="btn btn-danger" href="/#!/plans/delete/{{plan._id}}" title="Delete">Delete</a>
		</div>
	</div>
</section>
