<section data-ng-controller="ContactsController" data-ng-init="pageAuth();find()" class="col-sm-10 col-sm-offset-1 block-area">
	<div class="page-header">
		<h4>Contacts</h4>
	</div>
	<table class="table table-striped block-area">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Subject</th>
			<th>Actions</th>
		</tr>
		<tr data-ng-repeat="contact in contacts">
			<td data-ng-bind="contact.name"></td>
			<td data-ng-bind="contact.email"></td>
			<td data-ng-bind="contact.phone"></td>
			<td data-ng-bind="contact.subject"></td>
			<td>
				<a class="btn btn-primary btn-xs" data-ng-href="#!/contacts/{{contact._id}}" title="View">
					<i class="fa fa-eye"></i>
				</a>
					<!--
				<a class="btn btn-info btn-xs" href="/#!/contacts/{{contact._id}}/edit" title="Replied">
					<i class="fa fa-pencil"></i>
				</a>
					-->
			</td>
		</tr>
	</table>
</section>
