<section data-ng-controller="ContactsController" data-ng-init="findOne()" class="block-area col-md-6 col-md-offset-3">
	<div class="col-sm-12">
		<div class="page-header">
			<h3>From {{contact.name}}</h3>
		</div>
		<ul class="list-group">
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Name</h4>
				<p class="list-group-item-text" data-ng-bind="contact.name"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Email</h4>
				<p class="list-group-item-text" data-ng-bind="contact.email"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Phone</h4>
				<p class="list-group-item-text" data-ng-bind="contact.phone"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Subject</h4>
				<p class="list-group-item-text" data-ng-bind="contact.subject"></p>
			</li>
			<li  class="list-group-item">
				<h4 class="list-group-item-heading">Message</h4>
				<p class="list-group-item-text" data-ng-bind="contact.message"></p>
			</li>
		</ul>
		<div class="text-center bottom-action">
			<a class="btn btn-info" data-ng-href="#!/contacts" title="View">Back</a>
				<!--
			<a class="btn btn-primary" href="/#!/contacts/{{contact._id}}/edit" title="Replied">Replied</a>
				-->
			<a class="btn btn-danger" title="Delete" confirmed-click="remove();" ng-confirm-click="Do you really want to delete?">Delete</a>
		</div>
	</div>
</section>
