<section class="row" data-ng-controller="GplansController">
	<h3 class="col-md-12 text-center">Create Power Gplan</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
		<form name="gplanForm" data-ng-submit="create()" class="add-gplan form-horizontal" novalidate autocomplete="on">
			<fieldset>
				<div class="form-group">
					<label for="company">Company Name</label>
					<input type="text" required id="company" name="company" class="form-control" data-ng-model="gplan.company">
				</div>
				<div class="form-group">
					<label for="name">Gplan Name</label>
					<input type="text" id="name" name="name" class="form-control" data-ng-model="gplan.name">
				</div>
				<div class="form-group">
					<label for="area">Area</label>
					<select type="text" id="area" name="area" class="form-control" data-ng-model="gplan.area">
						<option value="north">North</option>
						<option value="south">South</option>
					</select>
				</div>
				<div class="form-group">
					<label for="fixed">Daily Fixed Charge</label>
					<input type="text" id="fixed" name="fixed" class="form-control" data-ng-model="gplan.fixed">
				</div>
				<div class="form-group">
					<label for="rate">Rate</label>
					<input type="text" id="rate" name="rate" class="form-control" data-ng-model="gplan.rate">
				</div>
				<div class="form-group">
					<label for="ratewgas">Variable Rate with Gas</label>
					<input type="text" id="ratewgas" name="ratewgas" class="form-control" data-ng-model="gplan.ratewgas">
				</div>
				<div class="form-group">
					<label for="gst">GST</label>
					<input type="text" id="gst" name="gst" class="form-control" data-ng-model="gplan.gst" placeholder="GST">
				</div>
				<div class="form-group">
					<label for="ppd">Prompt Payment Discount</label>
					<input type="text" id="ppd" name="ppd" class="form-control" data-ng-model="gplan.ppd">
				</div>
				<div class="form-group">
					<label for="special">Special Information</label>
					<input type="text" id="special" name="special" class="form-control" data-ng-model="gplan.special">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Add Gplan</button>
					<a data-ng-href="/#!/gplans" class="btn btn-large btn-danger">Cancel</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>

